* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(61, 61, 61);
    color: white;

    h1 {
        margin: 30px 0px;
        text-align: center;
    }

    pre {
        font-family: monospace;
        background-color: #525151;
        padding: 10px;
        border-radius: 10px;
        white-space: pre-wrap;
        line-height: 2.4;
        max-height: min-content;
    }
}

.content {
    display: flex;
    flex-direction: row;
    padding: 10px;

    .right {
        display: flex;
        width: 100%;
        min-height: 90vh;
        padding: 10px;
        justify-content: center;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 300px;
        border-right: 1px solid rgb(155, 155, 155);
        ul{
            li{
                font-size: 20px;
                padding: 10px;
                cursor: pointer;
            }
        }

    }
}