.fs {
    &-8 { font-size: 8px; }
    &-9 { font-size: 9px; }
    &-10 { font-size: 10px; }
    &-11 { font-size: 11px; }
    &-12 { font-size: 12px; }
    &-13 {font-size: 13px;} 
    &-14 { font-size: 14px; }
    &-15 { font-size: 15px; }
    &-16 { font-size: 16px; }
    &-17 { font-size: 17px; }
    &-18 { font-size: 18px; }
    &-19 { font-size: 19px; }
    &-24 { font-size: 24px; }
}
.fw{
    &-100{font-weight: 100;}
    &-200{font-weight: 200;}
    &-300{font-weight: 300;}
    &-400{font-weight: 400;}
    &-500{font-weight: 500;}
    &-600{font-weight: 600;}
    &-700{font-weight: 700;}
    &-800{font-weight: 800;}
    &-900{font-weight: 900;}
    &-bold{font-weight: bold;}
    &-bolder{font-weight: bolder;}
}